#pokedex {
  padding: 1.5rem 0;
  width: clamp(50vw, 1500px, 90%);
  margin: 0 auto;
}

.pokedex-controllers {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--clr-red);
  border: 1rem solid var(--clr-red_);
  border-radius: 2rem 2rem 0 0;
  padding: 1rem 5rem;
}

.pokedex-controllers > div > h1,
.pokedex-controllers > div > p {
  text-align: center;
  text-transform: capitalize;
}

.pokedex-controllers > div > h1 {
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.pokedex-controllers > div > p {
  color: var(--clr-light-white);
}

.pokedex-controllers > .search-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.pokedex-controllers > .search-container > input {
  outline-style: none;
  border: 2px solid var(--clr-grey);
  border-right: none;
  border-radius: 1rem 0 0 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.05rem;
  width: 100%;
}
.pokedex-controllers > .search-container > button {
  border: none;
  border: 2px solid var(--clr-grey);
  border-left: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0.2rem 1.5rem 0.2rem 1.2rem;
  cursor: pointer;
  font-size: 1.05rem;
  outline-style: none;
}

.pokedex-controllers > button[type="reset"] {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
}

.pokedex-controllers > .search-container > button:hover,
.pokedex-controllers > button[type="reset"]:hover,
#results > button:hover {
  color: white;
  background-color: var(--clr-red_);
  transition: all 100ms linear;
}

/* Results ------------------------------------------------------------------ */
#results {
  border: 1rem solid var(--clr-red_);
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  position: relative;
}

#results > button {
  color: white;
  background-color: var(--clr-red);
  position: absolute;
  border: 1px solid var(--clr-black);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

#results > button > i {
  color: white;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PokeCards ---------------------------------------------------------------- */

.poke-card {
  border-radius: 1.5rem;
  padding: 20px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.poke-card-background-icon {
  background-image: url("/pokeball-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  width: 20rem;
  aspect-ratio: 1;
  position: absolute;
  top: 40%;
  left: -65%;
  transform: translateY(-50%) rotateZ(-15deg);
  z-index: -1;
}

.poke-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.poke-card-image:hover {
  transition: all 150ms ease-in-out;
  transform: scale(1.2) translateY(-10%);
}

.poke-card-span {
  font-size: 0.9rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 8px;
  border-radius: 8px;
  margin: 0 auto;
}

.poke-card-name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1px;
}

/* .poke-card-types {
  display: flex;
  justify-content: center;
  gap: 8px;
} */

/* .poke-card-type {
  padding: 5px 12px;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  min-width: 4.5rem;
} */

.poke-card-types {
  list-style: none;
  color: #f5f3f3;
}
.poke-card-type:only-child {
  border-radius: 0.5rem;
}
.poke-card-type:nth-child(1):nth-last-child(2) {
  border-radius: 0.5rem 0.5rem 0 0;
}
.poke-card-type:nth-child(2):nth-last-child(1) {
  border-radius: 0 0 0.5rem 0.5rem;
}

.poke-card.type-bug {
  background: linear-gradient(135deg, #87950d, #a8b820 80%);
}
.poke-card.type-dark {
  background: linear-gradient(135deg, #392c20, #50433b 80%);
}
.poke-card.type-dragon {
  background: linear-gradient(135deg, #6654c7, #7038f8 80%);
}
.poke-card.type-electric {
  background: linear-gradient(135deg, #cc9619, #f8d030 80%);
}
.poke-card.type-fairy {
  background: linear-gradient(135deg, #f2b1f2, #f4bdc9 80%);
}
.poke-card.type-fighting {
  background: linear-gradient(135deg, #5f2315, #c03028 80%);
}
.poke-card.type-fire {
  background: linear-gradient(135deg, #d12705, #f08030 80%);
}
.poke-card.type-flying {
  background: linear-gradient(135deg, #657dd9, #a890f0 80%);
}
.poke-card.type-ghost {
  background: linear-gradient(135deg, #3f3d6f, #705898 80%);
}
.poke-card.type-grass {
  background: linear-gradient(135deg, #58a124, #78c850 80%);
}
.poke-card.type-ground {
  background: linear-gradient(135deg, #c5a44a, #e0c068 80%);
}
.poke-card.type-ice {
  background: linear-gradient(135deg, #6cd3f6, #c2fcfc 80%);
}
.poke-card.type-normal {
  background: linear-gradient(135deg, #acaa99, #c6c6a7 80%);
}
.poke-card.type-poison {
  background: linear-gradient(135deg, #692a69, #a040a0 80%);
}
.poke-card.type-psychic {
  background: linear-gradient(135deg, #d3386c, #fa6994 80%);
}
.poke-card.type-rock {
  background: linear-gradient(135deg, #9d873b, #b8a038 80%);
}
.poke-card.type-steel {
  background: linear-gradient(135deg, #9797a7, #b8b8d0 80%);
}
.poke-card.type-water {
  background: linear-gradient(135deg, #207bd1, #6890f0 80%);
}
