#user-info {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 10rem;
}

#user-info > .user-profile {
  text-transform: capitalize;
  display: flex;
  text-align: center;
  align-items: center;
}

.user-profile > div > h1 {
  letter-spacing: 2px;
}

.user-profile > div > .user-pfp {
  border-radius: 0.8rem;
  margin: 0.2rem 0;
  box-shadow: 2px 3px 5px var(--clr-grey);
}

.user-profile > .user-controllers {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-controllers > a {
  text-decoration: none;
}

.user-profile > .user-controllers > button,
.user-profile > .user-controllers > a > button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-black);
  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.btn-create-team,
.btn-return-home,
.btn-logout {
  border-radius: 0.4rem;
  border: none;
}

.btn-create-team > *,
.btn-return-home > *,
.btn-logout > * {
  color: var(--clr-white);
}

.btn-create-team {
  background-color: var(--clr-green);
}
.btn-create-team:hover {
  background-color: var(--clr-green_);
}

.btn-return-home {
  background-color: var(--clr-red);
}
.btn-return-home:hover {
  background-color: var(--clr-red_);
}

.btn-logout {
  background-color: var(--clr-light-blue);
}
.btn-logout:hover {
  background-color: var(--clr-blue);
}

/* Team Preview ------------------------------------------------------------- */
.user-teams-container {
  height: 240px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.user-team {
  scroll-snap-align: center;
  background-color: var(--clr-white);
  border-radius: 0.8rem;
  width: 25rem;
  text-transform: capitalize;
  font-family: system-ui;
  box-shadow: 1px 2px 5px var(--clr-black_), 1px 2px 10px var(--clr-grey) inset;
  margin: 1rem;
  transition: all 150ms linear;
}

.user-team:hover {
  box-shadow: 1px 2px 5px var(--clr-red_), 1px 2px 10px var(--clr-red) inset;
}

.user-teams > h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.user-team > h3 {
  font-size: 16px;
  text-align: center;
  color: var(--clr-black);
}

.user-team > a {
  text-decoration: none;
}

.team-container {
  padding: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team-container > .member-info {
  position: relative;
}

.team-container > .member-info > .member-profile {
  width: 70px;
  user-select: none;
}

.team-container > .member-info > .member-item {
  width: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.team-container > .member-info > .member-shiny {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 14px;
}
