#user-info {
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

#user-info > .user-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#user-info > .user-profile > h2,
#user-info > .user-teams > h2 {
  font-size: 2.7rem;
}

#user-info > .user-profile > .user-pfp {
  box-shadow: 1px 3px 10px var(--clr-light-blue);
  border-radius: 1rem;
}

#user-info > .user-profile > .user-controllers {
  display: flex;
  margin: 1rem;
  column-gap: 0.5rem;
}

#user-info > .user-profile > .user-controllers > .btn-logout {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: 16px;
  padding: 0.2rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#user-info > .user-profile > .user-controllers > .btn-create-team,
#user-info > .user-profile > .user-controllers > .btn-return-home {
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
}

#user-info > .user-profile > .user-controllers > .btn-create-team > a,
#user-info > .user-profile > .user-controllers > .btn-return-home > a {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 0.2rem 1.5rem;
}

#user-info > .user-profile > .user-controllers > .btn-logout:hover {
  color: var(--clr-white);
  background-color: var(--clr-red);
}

#user-info > .user-profile > .user-controllers > .btn-create-team:hover {
  background-color: var(--clr-green);
}
#user-info > .user-profile > .user-controllers > .btn-create-team:hover > a {
  color: var(--clr-white);
}

#user-info > .user-profile > .user-controllers > .btn-return-home:hover {
  background-color: var(--clr-light-blue);
}

#user-info > .user-teams {
  text-align: center;
}

#user-info > .user-teams > .user-teams-container {
  text-align: center;
  padding: 0.5rem;
  height: 250px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Team Preview ------------------------------------------------------------- */
.user-team {
  scroll-snap-align: center;
  background-color: var(--clr-white);
  border-radius: 1rem;
  width: 25rem;
  text-transform: capitalize;
  font-family: system-ui;
  box-shadow: 1px 2px 5px var(--clr-grey_), 1px 2px 10px var(--clr-grey) inset;
  margin: 1rem;
}

.user-team > h3 {
  font-size: 16px;
}

.team-container {
  padding: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team-container > .member-info {
  position: relative;
}

.team-container > .member-info > .member-profile {
  width: 70px;
  user-select: none;
}

.team-container > .member-info > .member-item {
  width: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.team-container > .member-info > .member-shiny {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 14px;
}
